body { 
    font-family: 'Work Sans', sans-serif;
}

.bottom-right { 
    position: fixed;  
    bottom: 100px; 
    right: 50px; 
    color: white; 
    text-align: right; 
    text-shadow: 2px 2px black;
}
.bottom-right p{ 
    font-size: 18px;
    max-width: 450px;
}

.bottom-right h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 38px;
    color: white; 
    text-align: right; 
    margin-bottom: -15px; 
    max-width: 450px;
}
.bottom-right button { 
    height: 40px; 
    background: #f7ee24; 
    font-size: 18px; 
    font-weight: 600; 
}
.bottom-right button:hover { 
    background: #f7ee24; 
}

div .PrivateTabIndicator-colorPrimary-12 {
    background-color: #1f6421;
}
div .PrivateTabIndicator-colorPrimary-9 {
    background-color: #1f6421;
}
div .PrivateTabIndicator-colorPrimary-3 {
    background-color: #1f6421;
}
div .MuiTab-textColorPrimary.Mui-selected {
    color: #1f6421;
}
div .MuiFormLabel-root .Mui-focused {
    background-color: red;
}
div .MuiInput-underline:after {
    border-bottom: 2px solid #f7ee24;
}

.lp-form div .MuiInputBase-input { 
    width: 300px;
}

div .MuiFormControl-root { 
    margin-top: 20px;
}

div .submitButton {
    margin: 20px 0px; 
    height: 40px; 
    background: #f7ee24; 
    font-size: 18px; 
    font-weight: 600;
}
div .submitButton:hover {  
    background: #f7ee24;
}



@media only screen and (max-width: 600px) {
    .bottom-right { 
        position: fixed;  
        bottom: 0px; 
        right: 0px; 
        left: 0px; 
        text-align: center; 
        max-width: none;
    }
    .bottom-right h1 {
        text-align: center;
        max-width: none;
        font-size: 30px;
        margin: 0px 20px;
        margin-bottom: -15px; 
    }
    .bottom-right p{ 
        margin: 20px 40px;
        max-width: none;

    }

    .bottom-right button { 
        width: 100%;  
    }
    .lp-form div .MuiInputBase-input { 
        width: 200px;
    }
    div .MuiDrawer-paper { 
        width: 260px;
    }
    .MuiTabs-flexContainer {
        width: 220px;
    }
    div .MuiTabs-flexContainer {
        display: block;
    }
    .MuiTypography-body1 {
        width: 230px;
    }
    div div .makeStyles-list-1 {
        width: 224px;
    }

}