div .postAvatar {
    width: 40px; 
    height: 40px; 
    border: solid #1f6421 1px; 
    float: left;
    margin-right: 10px;
}
div .postName {
    font-size: 13px;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 2px;
    padding-top: 5px;
}

div .infinite-scroll-component  { 
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
}

div .infinite-scroll-component div { 
    font-family: 'Work Sans', sans-serif;
}

div .infinite-scroll-component div:hover {
    background-color: #eeeeee;
}

div .infinite-scroll-component .hashtag {
    font-weight: 300; 
    color: #1f6421;
    margin-top: 3px;
}
div .infinite-scroll-component .time {
    font-weight: 300; 
    color: #1f6421;
    font-size: 13px;
    margin-top: 4px;
}