
body { font-family: 'Work Sans', sans-serif;}

.bottom-right { position: fixed;  bottom: 100px; right: 50px; color: white; text-align: right; text-shadow: 2px 2px black;}
.bottom-right h1 {font-family: 'Roboto', sans-serif; color: white; text-align: right; margin-bottom: -15px; }
.bottom-right button {  font-size: 20px;  background: #f7ee24; border: none;  padding: 10px; }
.bottom-right button:hover {  opacity: 1;}

FormControl {width: 300px;}

@media only screen and (max-width: 600px) {
.bottom-right { position: fixed;  bottom: 0px; right: 0px; left: 0px; text-align: center; }
.bottom-right h1 {text-align: center; }
.bottom-right button { width: 100%;  }
}