.top-right { 
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 900;  
    font-size: 20px; 
    color: white; 
    cursor: pointer;
}

